
.pic-top {
  height: 70vh;
  background-image: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding:5%;
  background-size: cover;
  overflow: hidden;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 60%;*/
  /*transform: translate(-50%, -50%);*/
  color: white;
  font-size: 40px;
  font-family: serif;
  /*background-size: cover;*/
}

/*.container  {
  background-size: cove
}*/

.happy-hour{
background-color: gainsboro;
font-family: sans-serif;
font-size: 30px;
text-align: center;
padding: 35px;
width: 107%;
/*margin-left: 8px;*/
}

.party-time{
  background-color:#fe652b;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  width: 107%;
  /*margin-left: 8px;*/
}
.row {
  padding-left: 3px;
  margin: 0;
}
#breakfast {
background-size: cover;
background-image: url(../img/foodtop/breakfast.jpg);
background-repeat: no-repeat;
}

#lunch {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/foodtop/lunch.jpg);
  color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#dinner {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/foodtop/dinner.jpg);
}

#breakfast h1 {
  color: white;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 80px;
}

#lunch h2 {
  color: white;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 80px
}

#dinner h3 {
  color: white;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 80px;
}

#fastfood {
border: 1px solid #ddd;
padding: -200;
box-shadow: 0px 0px 10px grey;
margin-top: 100px;
}

.fastfood {
  margin-top: 100px;
}


.fastfood h4 {
  margin-top: 50px;
  font-size: 50px;
  font-style: italic;
  font-family: serif;
}

.fastfood p {
  font-size: 25px;
  font-style: italic;
  font-family: serif;
}
.button1 {
  background-color: white;
  color: #fe652b;
  border: 2px solid #fe652b;
  width: 50%;
  height: 80px;
  font-size: 25px;
}

.drinks h5 {
  font-size: 50px;
  font-style: italic;
  font-family: serif;
  text-align: right;
}

.drinks p {
  font-size: 25px;
  font-style: italic;
  font-family: serif;
  text-align: right;
}

#drinks {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 10px grey;
  margin-top: 100px;
  margin-right: -80px;
}

.drinks {
  margin-top: 100px;
}

.button2 {
  background-color: white;
  color: #fe652b;
  border: 2px solid #fe652b;
  width: 50%;
  height: 80px;
  font-size: 25px;
  padding-left: 50px;
}

.customersheading {
  font-size: 50px;
  color: orange;
  font-weight: bold;
  font-family: cursive;
}
.customerstext {
  font-family: cursive;
}
.customersborder {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px grey;
  margin-left: 90px;
  margin-right: 90px;
}
.iconpadding {
  padding-left: 10px;
  padding-bottom: 20px;
}
div.vertical-line {
  height: 100px;
  div.vertical-line{
  width: 2px;
  background-color: #cccccc;
  float: left;
  margin-top: 15px;
}

/*.img-box {
  position: relative;
  display: block;
  width: 100%;
}
.foodCarousel {
  position: absolute;
}
.carousel-spacing {
  padding: 30px 40px 40px 40px;
  transform: translate(-0.01%, -140%);
  border: 3px solid white;
  background: white;
}*/
